/* Az egész oldalra vonatkozó beállítások */
body { 
  background-color: #f0f4f8; 
  font-family: sans-serif; 
  display: flex; 
  justify-content: center; 
  text-align: center; 
  
  /* Ezek akadályozzák meg a kijelölést és a kékes villanást */
  user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
}

.kert { 
  background-color: white; 
  padding: 20px; 
  border-radius: 20px; 
  box-shadow: 0 10px 20px rgba(0,0,0,0.1); 
  width: 300px; 
  margin-top: 50px; 
}

#cica { 
  font-size: 80px; 
  animation: lelegzes 3s infinite ease-in-out; 
  cursor: pointer;
}

@keyframes lelegzes { 
  0% { transform: scale(1); } 
  50% { transform: scale(1.1); } 
  100% { transform: scale(1); } 
}

#pohar { 
  width: 50px; 
  height: 80px; 
  border: 3px solid #333; 
  border-top: none; 
  border-radius: 0 0 10px 10px; 
  margin: 10px auto; 
  position: relative; 
  overflow: hidden; 
}

#viz { 
  background-color: #3498db; 
  width: 100%; 
  position: absolute; 
  bottom: 0; 
  height: 50%; 
  transition: height 0.5s; 
}

.sotet-mod { background-color: #2c3e50; color: white; }
.sotet-mod .kert { background-color: #34495e; }
